// Bar
.top-bar {
    background-color: rgba($background-layer-1, $bar-alpha);
}

// Dock Containers
.dockcontainer {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
    background-color: $black;
    border-radius: 7px;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}
.dockcontainer-icon {
    font-family: $font-icons;
}
.dockcontainer-text {
    font-size: 0.8rem;
}
.dockcontainer-subtext {
    font-size: 0.6rem;
}
.dockcontainer-active {
    color: $green;
}
.dockcontainer-disabled {
    color: $red;
}
.dockcontainer-inactive{
    color: $gray;
}
.dockcontainer-warning {
    color: $yellow;
}

// Clock
.clock {
    font-family: $font-mono;
    font-weight: bold;
    font-size: 1.2rem;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}

// Status Widgets
.statusbar-circle-normal {
    color: $dark-blue;
}
.statusbar-circle-amp {
    background-color: $dark-blue;
    color: $dark-yellow;
}
.statusbar-circle-full {
    color: $dark-green;
}
.statusbar-circle-warn {
    color: $dark-yellow;
}
.statusbar-circle-critical {
    color: $dark-red;
}

// Audio
.audio-control-pane {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    font-family: $font-text;
    font-weight: bold;
}
.audio-control-pane-box {
    background-color: rgba($background-layer-1, $popup-alpha);
    border-radius: 12px;
    padding: $window-item-pad;
    margin: $window-item-margin;
}
.audio-control-pane-config-button {
    font-family: $font-icons;
    font-size: 1em;
}
.audio-control-pane-sink-option-default {
    color: $white;
    background-color: rgba($black, $popup-alpha);
    border-radius: 12px;
}
.audio-control-pane-sink-option {
    color: $gray;
}

// Powermenu
.powermenu {
    font-family: $font-icons;
    font-weight: bold;
    font-size: 1.2rem;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}

// Workspaces
.workspace-btn,
.workspace-btn-focus {
    &:hover {
        color: $red;
    };
    min-width: 20px;
}
.workspace-btn-focus {
    color: $blue;
}
