// Bar
.top-bar {
    background-color: rgba($background-layer-1, $bar-alpha);
}

// General Use Classes
.color-green,
.color-active {
    color: $green;
}
.color-dark-green,
.color-full {
    color: $dark-green;
}
.color-red,
.color-disabled {
    color: $red;
}
.color-dark-red,
.color-critical {
    color: $dark-red;
}
.color-dark-blue,
.color-normal {
    color: $dark-blue;
}
.color-yellow,
.color-amp {
    color: $yellow;
}
.color-dark-yellow,
.color-warning {
    color: $dark-yellow;
}
.color-gray,
.color-inactive {
    color: $gray;
}
.bg-dark-blue,
.bg-normal {
    background-color: $dark-blue;
}

// Dock Containers
.dockcontainer {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
    background-color: $black;
    border-radius: 7px;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}
.dockcontainer-icon {
    font-family: $font-icons;
}
.dockcontainer-text {
    font-size: 0.8rem;
}
.dockcontainer-subtext {
    font-size: 0.6rem;
}

// Clock
.clock {
    font-family: $font-mono;
    font-weight: bold;
    font-size: 1.2rem;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}

// Audio
.audio-control-pane {
    font-family: $font-text;
    font-weight: bold;
}
.audio-control-pane-box {
    background-color: rgba($background-layer-1, $popup-alpha);
    border-radius: 12px;
    padding: $window-item-pad;
    margin: $window-item-margin;
}
.audio-control-pane-config-button {
    font-family: $font-icons;
    font-size: 1em;
}
.audio-control-pane-sink-option-default {
    color: $white;
    background-color: rgba($black, $popup-alpha);
    border-radius: 12px;
}
.audio-control-pane-sink-option {
    color: $gray;
}

// Powermenu
.powermenu {
    font-family: $font-icons;
    font-weight: bold;
    font-size: 1.2rem;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}

// Workspaces
.workspace-btn,
.workspace-btn-visible,
.workspace-btn-focus {
    &:hover {
        color: $red;
    };
    min-width: 20px;
}
.workspace-btn-visible {
    color: $yellow;
}
.workspace-btn-focus {
    color: $blue;
}
