// Bar
.top-bar {
    background-color: rgba($background-layer-1, $bar-alpha);
}
.mid {
    background-color: $cyan;
}

// Clock
.clock {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}

// Status Widgets
.statusbar {
    font-family: $font-text;
    font-weight: bold;
    background-color: $black;
    border-radius: 7px;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}
.statusbar-bat-icon {
    font-family: $font-icons;
}
.statusbar-ram-icon {
    font-family: $font-icons;
}
.statusbar-cpu-icon {
    font-family: $font-icons;
}
.statusbar-bat-circle-full {
    color: $dark-green;
}
.statusbar-bat-circle-normal,
.statusbar-ram-circle,
.statusbar-cpu-circle {
    color: $dark-blue;
}
.statusbar-bat-circle-low {
    color: $dark-yellow;
}
.statusbar-bat-circle-critical {
    color: $dark-red;
}

// Audio
.audio-vol {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
}
.audio-vol-icon {
    font-family: $font-icons;
}
.audio-control-pane {
    font-family: $font-text;
    font-weight: bold;
}
.audio-control-pane-box {
    //background-color: #161616;
    background-color: rgba($background-layer-1, 0.9);
    //border: 1px solid #F5EEE6;
    border: 1px solid $white;
    border-radius: 12px;
    padding: $window-item-pad;
    margin: $window-item-margin;
}
.audio-control-pane-config-button {
    font-family: $font-icons;
    font-size: 1em;
}
.audio-control-pane-sink-is-default-true {
    color: $white;
}
.audio-control-pane-sink-is-default-false {
    color: $gray;
}

// Workspaces
.workspace-group {
    font-family: $font-text;
    font-weight: bold;
    font-size: 1rem;
    background-color: $black;
    border-radius: 7px;
    padding: $bar-vpad $bar-hpad;
    margin: $bar-vmargin $bar-hmargin;
}
.workspace-btn-focus,
.workspace-btn {
    &:hover {
        color: $red;
    };
    min-width: 20px;
}
.workspace-btn-focus {
    color: $blue;
}
